DB__NAME=skryzhal_db
DB__USER=postgres
DB__PASS=password
DB__HOST=localhost
DB__PORT=5432

S3_STORAGE__ENDPOINT_URL=http://localhost:4566
S3_STORAGE__BUCKET=local-bucket
S3_STORAGE__ACCESS_KEY=test
S3_STORAGE__SECRET_KEY=test
S3_STORAGE__REGION=us-east-1

SQS__ENDPOINT_URL=http://localhost:4566
SQS__QUEUE_NAME=skryzhal-render-queue
SQS__DLQ_NAME=skryzhal-render-dlq
SQS__ACCESS_KEY=test
SQS__SECRET_KEY=test
SQS__REGION=us-east-1
