DB__NAME=testing_e2e_skryzhal_db
DB__USER=postgres
DB__PASS=password
DB__HOST=localhost
DB__PORT=5432

S3_STORAGE__ENDPOINT_URL=http://localhost:4566
S3_STORAGE__BUCKET=test-e2e-local-bucket
S3_STORAGE__ACCESS_KEY=test
S3_STORAGE__SECRET_KEY=test
S3_STORAGE__REGION=us-east-1

SQS__ENDPOINT_URL=http://localhost:4566
SQS__QUEUE_NAME=test-e2e-skryzhal-render-queue
SQS__DLQ_NAME=test-e2e-skryzhal-render-dlq
SQS__ACCESS_KEY=test
SQS__SECRET_KEY=test
SQS__REGION=us-east-1

TRACING__SERVICE_NAME=test-e2e
